stages:
  - docker

variables:
  DOCKER_TLS_CERTDIR: ''
  DOCKER_BUILDKIT: '1'
  TCR_REGISTRY: ccr.ccs.tencentyun.com
  TCR_NAMESPACE: akaiito
  TCR_REPOSITORY: akaiito-server
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  FULL_IMAGE: '$TCR_REGISTRY/$TCR_NAMESPACE/$TCR_REPOSITORY:$IMAGE_TAG'

docker_build_push_tencent:
  stage: docker
  image: docker:24.0.7-cli
  tags: [docker]
  script:
    - docker version
    - echo "$TCR_PASSWORD" | docker login "$TCR_REGISTRY" --username="$TCR_USERNAME" --password-stdin
    - docker build -t "$FULL_IMAGE" .
    - docker push "$FULL_IMAGE"
    - docker tag "$FULL_IMAGE" "$TCR_REGISTRY/$TCR_NAMESPACE/$TCR_REPOSITORY:latest"
    - docker push "$TCR_REGISTRY/$TCR_NAMESPACE/$TCR_REPOSITORY:latest"
  only:
    - branches
